---
layout: german_default
title: Archiv
---

<h1>Archiv</h1>
<p>
  Hier sind alle meine deutschen Beiträge aufgelistet. Zusätzlich gibt es noch eine Seite mit allen meinen <a href="/en">Englischen Beiträgen</a>.
</p>

{% for post in site.categories.de %}

  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture next_year %}{{ post.de_next.date | date: '%Y' }}{% endcapture %}

  {% if forloop.first %}
    <div class="year-divider"><h3>{{ year }}</h3></div>
    <ul>
  {% endif %}

  <li>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  </li>

  {% if year != next_year %}
    {% unless forloop.last %}
      </ul>
      <div class="year-divider"><h3>{{ next_year }}</h3></div>
      <ul>
    {% endunless %}
  {% endif %}

{% endfor %}
</ul>
