---
---
{% include html_header.html %}
      <header>
        <h1>Hi. My name is <span>David Strauß</span>.</h1>
      </header>
      <p>
        Welcome to my personal website. I'm a developer from Salzburg, Austria. I mainly use CoffeeScript and Ruby to create useful software, in particular the Ruby on Rails and Ember.js frameworks. Besides programming I co-authored a book about HTML5 games. I'm also bootstrapping my own company <a href="http://edgycircle.com">edgy circle</a>.
      </p>
      <p>
        To find out more about me you can take a look at my <a href="/about">profile</a>, browse my list of <a href="#projects">projects</a> or read some of my <a href="/en">writings</a>.
      </p>
      <p>
        You can also find me on <a href="http://github.com/stravid">GitHub</a>, <a href="http://twitter.com/stravid">Twitter</a> and <a href="http://www.linkedin.com/in/stravid">LinkedIn</a>. In order to contact me write an email to <a href="mailto:mail@stravid.com">mail@stravid.com</a>.
      </p>
      <p>
        I created following projects over the years:
      </p>

      <a id="projects">&nbsp;</a>
      <div class="year-divider"><h3>2012</h3></div>
      <ul>
        <li>
          <h2><a href="http://risflecting.at">Risflecting Intranet</a></h2>
          <p>Web-based intranet of the Risflecting organization.</p>
        </li>
        <li>
          <h2><a href="http://slotcars.herokuapp.com">Slotcars</a></h2>
          <p>HTML5 iPad racing game with user created racing tracks.</p>
        </li>
        <li>
          <h2><a href="http://www.ibm.com/developerworks/web/library/wa-coffeescriptcanvas/index.html">Conway's Game of Life in CoffeeScript</a></h2>
          <p>IBM blog article about CoffeeScript and Conway's Game of Life.</p>
        </li>
        <li>
          <h2><a href="http://fotostrauss.at">Fotostrauss</a></h2>
          <p>Photography and journey portfolio of Isolde Strauß.</p>
        </li>
      </ul>

      <div class="year-divider"><h3>2011</h3></div>
      <ul>
        <li>
          <h2><a href="http://www.amazon.de/HTML5-Games-Most-Wanted-ebook/dp/B007PSRRFQ/ref=sr_1_1?s=books-intl-de&ie=UTF8&qid=1351782563&sr=1-1">HTML5 Games Most Wanted</a></h2>
          <p>Apress book about game development with HTML5.</p>
        </li>
        <li>
          <h2><a href="http://marblerun.at">Marble Run</a></h2>
          <p>HTML5 browser game and winner of Mozillas Game On 2011 challenge.</p>
        </li>
        <li>
          <h2><a href="http://hulkort.com">Hulkort</a></h2>
          <p>Git commit statistics tracking web service.</p>
        </li>
        <li>
          <h2><a href="http://fourtimesdaily.com">Four Times Daily</a></h2>
          <p>To-do application with a more natural view of time and activities.</p>
        </li>
        <li>
          <h2><a href="http://js1k.com/2011-dysentery/demo/978">Pixelcopter</a></h2>
          <p>HTML5 helicopter game written in only 1017 bytes of JavaScript.</p>
        </li>
      </ul>

      <div class="year-divider"><h3>2010</h3></div>
      <ul>
        <li>
          <h2><a href="http://stravid.com/projects/achtung-die-kurve/">Achtung die Kurve</a></h2>
          <p>Tron-like HTML5 multiplayer game.</p>
        </li>
        <li>
          <h2><a href="http://github.com/stravid/unitacs">Unitacs</a></h2>
          <p>Prototype for a HTML5 real time strategy game using NodeJS.</p>
        </li>
        <li>
          <h2><a href="http://stravid.com/projects/mapgenerator/">Mapgenerator</a></h2>
          <p>JavaScript library for generating random hexagon-based maps.</p>
        </li>
      </ul>
{% include html_footer.html %}
