$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$font-size: 19px;
$line-height: 1.8;

body {
  font-family: Georgia, serif;
  font-size: $font-size;
  line-height: $line-height;
  background-color: $base3;
  color: $base00;
  padding-bottom: 36px;
}

header {
  margin: 1em 0 2em 0;

  h1 {
    font-family: Georgia, serif;
    font-weight: normal;
    margin: 0;
    line-height: 1.8;
  }

  h2 {
    font-size: 25px;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;

    a {
      color: $red !important;
    }
  }

  p {
    margin: 0;
  }

  span {
    color: $red;
  }
}

h1 {
  font-weight: bold;
  font-size: 42px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

p {
  margin-bottom: 1.5em;
  margin-top: 0;
}

a, a:link, a:visited {
  text-decoration: none;
  color: $blue;
}

a:hover, a:active {
  text-decoration: underline;
  color: $red;
}

section {
  width: 727px;
  margin: 0 auto;
}

.year-divider {
  height: 1px;
  border-bottom: 1px dotted $base1;
  margin: 2em 1em 1em 1em;
  text-align: center;

  h3 {
    display: inline-block;
    padding: 0 18px;
    margin: 0;
    position: relative;
    top: -20px;
    background-color: $base3;
    font-weight: normal;
  }
}

h2 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 0;
}

#projects {
  height: 0px;
  display: block;
}

.call-to-action {
  border: 2px solid $cyan;
  background-color: rgba(42, 161, 152, 0.2);
  padding: 5px 10px 4px 10px;
  margin-bottom: 2em;
  color: $base02;
}
